* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #303030;
}
.header {
    padding: 16px;
    padding-top: 40px;

    display: flex;
    align-items: center;

    background: #212121;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.24);
}

.menu {
    cursor: pointer;
    margin-right: 32px;
}

.menu-mobile {
    visibility: hidden;
    min-height: 100vh;
    position: absolute;
    z-index: 999;
    display: flex;
}

.menu-mobile_open {
    visibility: visible;
}

.menu-mobile__content {
    height: 100%;
    height: auto;
    width: 300px;
    background-color: white;
}

.menu-mobile__close {
    cursor: pointer;
    background-color: #303030f0;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: flex-end;
}

.menu-mobile__top {
    background: url("./../img/images/pattern.svg");
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.menu-mobile__image {
    width: 80px;
    height: 80px;
}

.menu-mobile__name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #ffffff;
}

.mobile-buttons {
    margin-top: 36px;
    margin-left: 20px;
}

.mobile-button {
    display: flex;
    gap: 28px;
    margin-bottom: 24px;
}
.mobile-button:last-child {
    margin-bottom: 0px;
}

.mobile-button__image {
    height: 24px;
    width: 24px;
}
.mobile-button__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.87);
}

.mobile-close {
    box-sizing: content-box;
    width: 24px;
    height: 24px;
    padding: 40px 16px;
    /* padding: 4px; */
}
.header__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    color: #ffffff;
}

.content {
    padding-top: 30px;
    padding-bottom: 60px;
    padding: 8px;
    display: flex;
    gap: 18px 30px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.card-news {
    position: relative;
    width: 344px;
    max-width: 360px;
    margin: auto;
    height: 260px;
    background: #fafafa url("");
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: flex;
    flex-direction: column;

    /* background: url("../img/images/chornobaivka.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-news:last-child {
    /* margin-bottom: 0; */
}

.card-news__image {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.card-news__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 10px;
    background: rgba(57, 120, 78, 0.6);
    display: flex;
    justify-content: space-between;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.card-news__text {
    margin-right: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    color: #ffffff;
}

.card-news__buttons {
    /* width: 68px; */
    display: flex;
    gap: 20px;
}
.card-news__favorite {
    /* margin-right: 20px; */
}

.card-news__share {
}
